### Day - 1 : Practice Questions

### Q. 1 - Read Data : Load the dataset from CSV and JSON into a PySpark DataFrame.

### Q.2 - Select & Alias :

### 1. Select only first_name, last_name, and salary.

### 2. Create a column full_name using alias.

### Q.3 - Filter :

### 1. Find employees with salary > 70000.

### 2. Find employees from the IT department who are younger than 35.

### Q.4 - withColumnRenamed

### Rename column first_name → fname and last_name → lname.

### Q.5 - withColumn :

### Add a new column bonus = 10% of salary.

### Add a column experience = number of years since joining_date.

### Q.6 - Type Casting

### 1.Cast salary from double → integer.

### 2.Cast joining_date from string → date.

### Q.7 - Sort :

### 1. Sort employees by salary descending.

### 2. Sort employees by department and then by age.

### Q.8 - Limit :

### Show top 5 highest-paid employees.

### Q.9 - Drop Duplicates :

### Suppose duplicate rows appear, drop them based on emp_id.

### Q. 11 - Select & Alias

###Select emp_id, department, and salary but show them as EmployeeID, Dept, and AnnualSalary.

### Q. 12 - Filter :

### 1. Find employees in Finance or Marketing departments with salary greater than 75000.

### 2. Find employees whose city is not New York and age < 35.

### Q.13. withColumnRenamed :

### Rename emp_id → employee_id and joining_date → join_date.

### 14. withColumn

### Add a new column monthly_salary = salary / 12.

### Add a column senior_flag which is "Yes" if age ≥ 40, else "No".

### Add a column city_upper which contains the city name in uppercase.

### Q.15. Type Casting

### 1.Cast emp_id to string.

### 2.Cast age to double.

### 16. Sort -

### 1. Sort employees by joining_date (earliest first).

### 2. Sort employees by department, then descending salary.

### 17. Limit :

### 1. Show top 3 youngest employees.

### 2. Show top 2 employees from the HR department with the highest salary.

### 18. Drop Duplicates :

### Suppose you join data from two sources and end up with duplicates — drop duplicates based only on first_name, last_name, and city.

### 19. Bonus Challenge (Combo) :

### Create a column emp_info which concatenates:
### "John Smith - IT - New York" (format: full_name - department - city).

### From this result, sort employees by length of emp_info.

### 20. Select & Alias

### 1. Select first_name, last_name, and city, but show them as FName, LName, and Location.

### 2. Select department and count the number of employees in each department (alias as DeptCount).

### 21. Filter :

### 1. Get all employees who joined before 2018.

### 2. Find employees with age between 30 and 40 (inclusive).

### 3. Find employees working in Seattle OR Boston.

### 22. withColumnRenamed :

### 1. Rename salary → annual_salary.

### 2. Rename city → work_location.

### 23. withColumn

### 1. Add a column half_salary = salary / 2.

### 2. Add a column name_length = length of full_name.

### 3. Add a column is_high_earner → "True" if salary > 80000 else "False".

### 24. Type Casting

### 1. Convert age to string.

### 2. Convert salary to integer.

### 25. Sort :

### 1. Sort employees by age descending.

### 2. Sort employees first by city, then first_name.

### 27. Limit :

### 1. Show top 4 employees with the earliest joining date.

### 2. Show 3 employees with the smallest salaries.

### 27. Drop Duplicates :

### 1.Drop duplicate rows considering only department (keep one row per department).

### 2.Drop duplicates considering city and department together.

### 28. Bonus Combo :

### 1. Create a new column emp_summary in the format:
### "John Smith (IT) - Age: 29 - Salary: 75000.5".

### 2. Sort employees by salary and display the top 5 summaries.